{% extends "base.html" %}

{% block text %}
<div class="container my-5">
	<div class="row justify-content-center">
		<div class="col-md-8 text-center">
		<h1 class="mb-4">Blood Donation</h1>
		<p class="lead">Welcome to our blood donation website. Please click the buttons below to make an appointment or view your donation history.</p>
		<div class="my-4">
			<button class="btn btn-lg btn-primary me-3" onclick="makeAppointment()">Make Appointment</button>
			<button class="btn btn-lg btn-secondary" onclick="viewHistory()">See Donation History</button>
		</div>
		</div>
	</div>
</div>
  
<script>
	function makeAppointment() {
		// Redirect user to the appointment page
		window.location.href = "/startcheck";
	}

	function viewHistory() {
		// Redirect user to the donation history page
		window.location.href = "/donationhistory";
	}
</script>
{%endblock%}