{% extends "base2.html" %}

{% block text %}
<style>
    /* Custom CSS */
    .table-custom {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .table-custom thead th {
        background-color: #34495e;
        color: #ecf0f1;
    }

    .form-custom {
        padding: 15px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .filter-input {
        margin-bottom: 20px;
    }

    #search-btn {
        width: 100%;
        margin-top: 30px;
    }
</style>
<div class="container my-5">
    <h1 class="mb-4">Appointments</h1>

    
    <table class="table table-striped table-bordered table-custom">
        <thead>
            <tr>
				<th>AppointmentID</th>
				<th>Date</th>
				<th>Status</th>
				<th>DonorID</th>
				<th>DonationCenterID</th>
                <th>SlotID</th>
             
			</tr>
		</thead>
		<tbody>
			{% for appointment in appointments %}
			<tr>
				<td>{{ appointment.AppointmentID }}</td>
				<td>{{ appointment.Date }}</td>
				<td>{{ appointment.Status }}</td>
				<td>{{ appointment.DonorID }}</td>
				<td>{{ appointment.DonationCenterID }}</td>
                <td>{{ appointment.SlotID }}</td>
                
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
